<nav id="sidebar-icon-links">
  <!--
  {% if site.hydeout.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.hydeout.repo }}">
      {% include svg/github.svg %}
    </a>
    <a id="github-download-link"
       class="icon" title="Download" aria-label="Download"
       href="{{ site.hydeout.repo }}/archive/v{{ site.hydeout.version }}.zip">
      {% include svg/download.svg %}
    </a>
  {% endif %}
  -->

  <a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="http://github.com/paaatcha" target="_blank">
      {% include svg/github.svg %}
  </a>

  <a id="linkedin-link"
       class="icon" title="Linkedin" aria-label="Linkedin"
       href="https://www.linkedin.com/in/pacheco-andre" target="_blank">
      {% include svg/linkedin-logo.svg %}
  </a>

  <a id="scholar-link"
       class="icon" title="Google Scholar" aria-label="Google Scholar"
       href="https://scholar.google.com/citations?user=OVhpuAgAAAAJ&hl=en" target="_blank">
      {% include svg/google-scholar.svg %}
  </a>

  <a id="so-link"
       class="icon" title="Stack Overflow" aria-label="Stack Overflow"
       href="https://stackoverflow.com/users/9424793/andr%C3%A9-pacheco" target="_blank">
      {% include svg/stack-overflow.svg %}
  </a>

  <!--
  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ site.baseurl }}{{ tags_page.url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}
  -->


  <a id="twitter-link"
     class="icon" title="Twitter" aria-label="Twitter"
     href="https://twitter.com/paaatcha">
    {% include svg/twitter-logo-button.svg %}
  </a>

  <a id="cv-link"
     class="icon" title="CV" aria-label="cv"
     href="http://pachecoandre.com.br/assets/files/andre-pacheco-cv.pdf">
    {% include svg/tags.svg %}
  </a>


  <!--
  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ site.baseurl }}{{ search_page.url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
  -->

  {% include custom-icon-links.html %}
</nav>
